* {
    all: unset;
}

window {
    background-color: $bg;
}

scale trough {
    all: unset;
    background-color: $bg;
    border-radius: 5px;
    min-height: 7px;
    min-width: 80px;
}

scale trough highlight {
    background-color: $fg;
    border-radius: 5px;
}

.status:hover {
    border-radius: 10px;
    background-color: rgba($fg, 0.1);
}

.status-inner {
    padding-left: 10px;
    padding-right: 10px;
}

.status-outer {
    margin: 3px;
}
