default_mode "locked"
session_serialization false
ui {
	pane_frames {
		hide_session_name true
		rounded_corners true
	}
}
keybinds {
  shared {
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
  }
}
