* {
    all: unset;
}

$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

window {
    background-color: $background;
}

.status {
    border-radius: 15px;
    background-color: rgba(#ffffff, 0.1);
    padding: 1px 10px 1px 10px;
    margin: 2px;
}

.icon {
    font-family: Material Design Icons;
}

scale trough {
    all: unset;
    background-color: $background;
    border-radius: 5px;
    min-height: 7px;
    min-width: 80px;
}

scale trough highlight {
    background-color: $foreground;
    border-radius: 5px;
}
